html,
body {
    /*START BG*/
    
    background-image: url("../img/bg.jpg");
    /*END BG*/
    
    background-attachment: fixed;
    height: 100%;
    margin: 0 0 0 0;
}

.content {
    height: inherit;
}
/* PANEL SELECT */

.logo {
    width: 50%;
    display: table;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}

.rightmenu {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 300px;
}

.leftmenu {
    position: fixed;
    left: 20px;
    top: 20px;
    width: 300px;
}

#wallpaperset {
    width: 70%;
    padding-top: 20px;
    display: table;
    margin: 0 auto;
    z-index: 100;
}

#dimensions {
    width: 70%;
    padding-top: 20px;
    display: table;
    margin: 0 auto;
    z-index: 100;
}

#paneladd {
    margin-top: 20px;
    width: 70%;
    display: table;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}

#export {
    margin-top: 20px;
    width: 70%;
    display: table;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}

.menuoperator {
    width: 25%;
    height: auto;
    position: fixed;
    right: 0;
    bottom: 0;
}

#toolopener {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.editor {
    position: fixed;
    z-index: 2;
    width: 50%;
    left: 0;
    bottom: 0;
}

#tooltoggle {
    width: 70%;
    display: table;
    margin-left: auto;
    margin-right: auto;
    z-index: 100 margin-top: 20px;
    margin-bottom: 20px;
}

#editortoggle {
    width: 70%;
    display: table;
    margin-left: auto;
    margin-right: auto;
    z-index: 100 margin-top: 20px;
    margin-bottom: 20px;
}

#submit {
    margin-top: 20px;
    width: 70%;
    display: table;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}

#delete {
    margin-top: 20px;
    width: 70%;
    display: table;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}

.selected {
    -moz-box-shadow: 0 0 20px #00b2ff;
    -webkit-box-shadow: 0 0 20px #00b2ff;
    box-shadow: 0px 0px 20px #00b2ff;
}

.xbutton {
    padding-top: -32px;
    position: relative;
    padding-top: -500px;
    top: 60px;
    left: 20px;
    z-index: 100;
}
/* END PANEL SELECT */

.panels {
    transition: background-color 0.5s ease;
    float: left;
    border-radius: 0;
    z-index: 1;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    word-wrap: break-word;
}