html,
body {
    /*START BG*/background-image: url("http://www.hddesktopbackgrounds.us/backgrounds-images/1920x1080/ewd0k-wallpapers-29506858-1920x1080.jpg");/*END BG*/
    background-attachment: fixed;
    height: 100%;
}

.logo {
    margin-top: 20px;
    width: 50%;
    display: table;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}

.content {
    margin-left: auto;
    margin-right: auto;
    min-width: 850px;
    max-width: 850px;
    height: auto;
}



/* PANELS */

.panels {
    transition: background-color 0.5s ease;
    overflow: hidden;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 0;
    z-index: 1;
    /*-moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    vertical-align: top;*/
}

#panel-full {
    width: 794px;
    height: 800px;
    background-color: #dcdcdd;
}

#panel-half {
    width: 794px;
    height: 400px;
    background-color: #dcdcdd;
}

#panel-quarter {
    width: 390px;
    height: 400px;
    background-color: #dcdcdd;
}

/* END PANELS */undefined